body{
  background-color: black;

}
.btn-number{
  background-color: rgb(84, 82, 82);
  color: white;
  height: 40px;
  width: 40px;      
  border: none;
  border-radius: 20px;
  margin: 3px 3px;
}
.btn-operator{
  background-color: rgb(229, 144, 18);
  height: 40px;
  width: 40px;      
  border: none;
  border-radius: 20px;
  color: white;
}
.calculation-tab{
  color: white;
}